*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* Introduction Section using FLEX */
.section1{
    width: 100%;
    background-color: white;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img[src*="Images/logo.png"]{
    margin-top: 2.5%;
    padding-left: 5%;
}

img[src*="images19/Profile Picture.jpg"]{
    margin-top: 2.5%;
    padding-left: 5%;
    width: 90%;
    border-radius: 50%;
}

.top_nav{
    margin-top: 2.5%;
    padding-right: 5%;
}

.top_nav a{
    text-decoration: none;
    padding-left: 45px;
    font-family: Bebas Neue;
    font-size: 26px;
}

.inactive{
    color: #0081A7;
    font-style: normal;
    font-weight: 500;
}

.inactive:hover {
  color:#00AFB9;
}

.Intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 5%;
}

.welcome {
    color: black;
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 60px;
    padding-top: 30px;
}

.more {
    color: #F07167;
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 30px; 
    line-height: 50px;
    padding-top: 15px;
    padding-bottom: 5px;
}

.moretwo {
    color: #F07167;
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 30px; 
    line-height: 50px;
    padding-bottom: 20px;
}

#section1{
    color:#161925;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    padding-top: 15px;
    padding-bottom: 30px;
}

.outline{
    width: 190px;
    height: 50px;
    color: white;
    border: 2px solid white;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: M Plus 1;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    background-color: #0081A7;
}

.outline {
    transition-duration:0.4s;
}

.outline:hover {
    background-color:#00AFB9;
  color:white;
}

#aboutMe {
    color: #F07167;
    font-style: normal;
    font-weight: normal;
    font-family: Bebas Neue;
    font-size: 26px;
    line-height: 60px;
}

/* UX Skills Section using FLEX */
.section2{
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dots {
    padding-top: 40px;
}

.lightHeading{
    color: black;
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
}

.MySkills{
    display: flex;
    justify-content: space-evenly;
    width: 85%;
    margin-top: 5%;
}

.title{
    width: 100%;
    padding-top: 10%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#desc{
    background-repeat: no-repeat;
    background-position: 46% 70%;
    background-blend-mode: luminosity;
}

.description{
    text-align: center;
    width: 33%;
    padding: 5%;
}

#desc1{
    background-repeat: no-repeat;
    background-position: 25% 15%;
}

#desc2{
    background-repeat: no-repeat;
    background-position: 25% 15%;
}

#desc3{
    background-repeat: no-repeat;
    background-position: 30% 15%;
}


.font2{
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #0081A7;
}

#section2{
    font-family: M Plus 1;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: black;
    margin-top: 7.5%;
}

.dotstwo {
    padding-top: 180px;
}

.myTools{
    height: 200px;
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: url("images19/Tools.png");
    background-repeat: no-repeat;
    background-position: -50% bottom;
    background-blend-mode: luminosity;
}

img[src*="Images/Tools.png"]{
    margin-top: 1%;
    padding-bottom: 5%;
}



/* My Work Section using GRID */
.section3{
background-color: white;
}

.dotsthree {
    padding-top: 40px;
}

.darkHeading{
    color: black;
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
}

.container{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "row1 row1" "row2 row2" "row3 row3";
    padding-top: 5%;
    padding-bottom: 15%;
    padding-left: 5%;
    padding-right: 5%;
}

.row1{
    grid-area: row1;
    background-color: #D3F4E7;
    opacity: 0.85;
    display: grid;
    grid-template-columns: 50% 50%;
}

.row2{
    grid-area: row2;
    background-color: #FED9B7;
    display: grid;
    grid-template-columns: 50% 50%;
}

.row3{
    grid-area: row3;
    background-color:#FDFCDC;
    opacity: 0.85;
    display: grid;
    grid-template-columns: 50% 50%;
}

/* common properties for class row1, row2, row3 */

#section3{
    font-family: M Plus 1;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: black;
    opacity: 0.75;
    padding-top: 3%;
    padding-bottom: 4.5%;
}

.project {
    width: 150px;
    height: 40px;
    color: black;
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: M Plus 1;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    background: none;
}

.project:hover {
    background-color:#00AFB9;
  color: black;
}

.summary{
    padding-left: 13%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.mockup{
    display: flex;
    align-items: center;
    justify-self: stretch;
    padding-top: 3.5%;
    padding-right: 5%;
}

.type{
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 16px;
    letter-spacing: 0.18538em;
    color: black;
    opacity: 0.8;
    padding-bottom: 1%;
}



/* Footer Section using FLEX */
.section4{
    width: 100%;
    background:#0081A7;
}

.backtotop{
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
}

h5{
    color: white;
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.18538em;
    padding-top: 1%;
}

.linen{
    color: white;
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 25px;
    text-align: center;
    margin-top: 7.5%;
}

.contact{
    display: flex;
    justify-content: center;
   margin-top: 1.5%;
}

.font1{
    color: white;
    font-family: M Plus 1;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    margin-top: 1.5%;
}

.solid-red{
    width: 174px;
    height: 36px;
    background: #F07167;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
    border: none;
}

.no-fill{
    width: 174px;
    height: 36px;
    color: white;
    background: #FED9B7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    margin-left: 1%;
}

h6{
    font-family: M Plus 1;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: white;
    text-align: center;
    margin-top: 7.5%;
    padding-bottom: 1.5%;
}

/* media queries */
@media screen and (max-width:600px){
    .image{
        height: auto;
        width: 100%;
    }

    .description{
        text-align: center;
        width: 100%;
    }

    .container{
        /* display: grid; */
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "row1" 
        "row1" 
        "row2" 
        "row2" 
        "row3" 
        "row3";
    }

    .summary{
        width: 100%;
        height:auto;
    }
    
    .mockup{
        width: 100%;
        height:auto;
    }

    .row1{
        width: 100%;
        height: auto;
    }

    #section3{
        display: none;
    }

    .myTools {
        width: 80%;
    }

}